<div class="w-full">
  <!-- Danh sách widgets -->
  <div class="space-y-2 max-h-[60vh] overflow-y-auto">

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <button *ngFor="let widget of typeWidgets" (click)="onSelectWidget(widget)" class="widget-button ">
        <div
          class="w-full h-[150px] rounded overflow-hidden border border-gray-200 flex items-center justify-center p-1">
          <img [src]="widget.image" [alt]="widget.title" class="w-full max-h-full object-cover">
        </div>
        <div
          [class]="'text-center font-bold mt-2 ' + (selectedWidget?.type === widget.type ? 'text-[#c00063]' : 'text-gray-800')">
          {{ widget.title }}</div>
      </button>
    </div>
    <!-- Empty state -->
    <div *ngIf="typeWidgets.length === 0" class="text-center py-8 text-gray-400">
      <p>No widget found</p>
    </div>
  </div>

  <!-- Footer buttons -->
  <div class="flex justify-end gap-2 mt-6 pt-4 border-t border-gray-200 -m-4 p-4 bg-[#efeff0]">

    <button class="scale-button secondary" (click)="onClose()" type="button">
      Cancel
    </button>


    <button class="scale-button primary" (click)="onSave()" type="button" [disabled]="!selectedWidget">
      Select
    </button>

  </div>
</div>