<div *ngIf="isOpen"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 transition-opacity"
  (click)="onBackdropClick()">
  <div class="bg-white rounded-lg shadow-xl max-h-[90vh] overflow-auto" [class]="currentWidth"
    (click)="$event.stopPropagation()">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 border-b border-gray-200">
      <h2 class="text-lg font-semibold text-gray-800">{{ currentTitle }}</h2>
      <button #closeButton class="text-black-400 hover:text-black-600 transition-colors p-2 rounded-lg"
        (click)="onClose()" type="button">
        <svg class="scale-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          aria-hidden="true">
          <g fill="currentColor">
            <g>
              <path
                d="M12 1c6.1 0 11 4.9 11 11s-4.9 11-11 11S1 18.1 1 12 5.9 1 12 1zm0 1.5c-5.25 0-9.5 4.25-9.5 9.5s4.25 9.5 9.5 9.5 9.5-4.25 9.5-9.5-4.25-9.5-9.5-9.5zM7.95 7.95a.722.722 0 01.965-.074L9 7.95l3 3 3-3c.3-.3.75-.3 1.05 0 .273.273.298.67.074.965L16.05 9l-3 3 3 3c.3.3.3.75 0 1.05a.722.722 0 01-.965.074L15 16.05l-3-3-3 3c-.3.3-.75.3-1.05 0a.722.722 0 01-.074-.965L7.95 15l3-3-3-3c-.3-.3-.3-.75 0-1.05z"
                fill-rule="evenodd"></path>
            </g>
          </g>
        </svg>
      </button>
    </div>

    <!-- Modal content - component will be rendered here via ViewContainerRef -->
    <div class="p-4">
      <ng-container #modalContent></ng-container>
    </div>
  </div>
</div>