@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/TeleNeoWeb-Ultra.eot');
  src: url('/fonts/TeleNeoWeb-Ultra.woff') format('woff'),
    url('/fonts/TeleNeoWeb-Ultra.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/TeleNeoWeb-UltraItalic.eot');
  src: url('/fonts/TeleNeoWeb-UltraItalic.woff') format('woff'),
    url('/fonts/TeleNeoWeb-UltraItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/TeleNeoWeb-ExtraBold.eot');
  src: url('/fonts/TeleNeoWeb-ExtraBold.woff') format('woff'),
    url('/fonts/TeleNeoWeb-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/TeleNeoWeb-ExtraBoldItalic.eot');
  src: url('/fonts/TeleNeoWeb-ExtraBoldItalic.woff') format('woff'),
    url('/fonts/TeleNeoWeb-ExtraBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/TeleNeoWeb-Bold.eot');
  src: url('/fonts/TeleNeoWeb-Bold.woff') format('woff'),
    url('/fonts/TeleNeoWeb-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/TeleNeoWeb-BoldItalic.eot');
  src: url('/fonts/TeleNeoWeb-BoldItalic.woff') format('woff'),
    url('/fonts/TeleNeoWeb-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/TeleNeoWeb-Medium.eot');
  src: url('/fonts/TeleNeoWeb-Medium.woff') format('woff'),
    url('/fonts/TeleNeoWeb-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/TeleNeoWeb-MediumItalic.eot');
  src: url('/fonts/TeleNeoWeb-MediumItalic.woff') format('woff'),
    url('/fonts/TeleNeoWeb-MediumItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/TeleNeoWeb-Regular.eot');
  src: url('/fonts/TeleNeoWeb-Regular.woff') format('woff'),
    url('/fonts/TeleNeoWeb-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/TeleNeoWeb-RegularItalic.eot');
  src: url('/fonts/TeleNeoWeb-RegularItalic.woff') format('woff'),
    url('/fonts/TeleNeoWeb-RegularItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/TeleNeoWeb-Thin.eot');
  src: url('/fonts/TeleNeoWeb-Thin.woff') format('woff'),
    url('/fonts/TeleNeoWeb-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'TeleNeoWeb';
  font-weight: 200;
  font-style: italic;
  src: url('/fonts/TeleNeoWeb-ThinItalic.eot');
  src: url('/fonts/TeleNeoWeb-ThinItalic.woff') format('woff'),
    url('/fonts/TeleNeoWeb-ThinItalic.woff2') format('woff2');
  font-display: swap;
}
