// Preview component styles
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../fonts.scss';


body {
  font-family: 'TeleNeoWeb', sans-serif !important;
  font-size: 18px;
}


.headline {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  color: #000;
}

.widget-title {
  .headline {
    &.heading1 {
      font-size: 54px;
      line-height: 65px;
    }

    &.heading3 {
      font-size: 32px;
      line-height: 40px;
    }

    &.heading5 {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.widget-banner {

  .banner-container {
    border-radius: 16px;
    overflow: hidden;
  }

  .banner-item {
    position: relative;
    border-radius: 16px;
    overflow: hidden;

    .banner-image {
      width: 100%;
      height: 350px;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .bg-overlay {
        height: 100%;
        width: 50%;
      }

      .crossRight {
        border-bottom: 350px solid transparent;
        border-left: 70px solid transparent;
        width: 50%;
      }
    }

    .banner-content {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      padding: 24px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 800;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      .description {
        margin-top: 16px;
        font-size: 20px;
        line-height: 28px;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .banner-pagination {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 10px;

    .bullet {
      display: block;
      width: 80px;
      height: 4px;
      background-color: #0003;
      margin: 1px;
      cursor: pointer;

      &.active {
        &::after {
          background-color: #e20074;
          content: '';
          display: block;
          height: 100%;
          opacity: 1;
          transform: scaleX(0);
          transform-origin: left center;
          width: 100%;
          animation: progress 7s forwards;
        }
      }
    }
  }

  @keyframes progress {
    from {
      transform: scaleX(0);
    }

    to {
      transform: scaleX(1);
    }
  }

  @media (max-width: 768px) {
    .banner-item {

      .banner-image {
        .bg-overlay {
          width: 100% !important;

        }

        .crossRight {
          display: none !important;
        }
      }

      .overlay-container {
        height: 50% !important;
      }

      .banner-content {
        width: 100%;
        height: 50%;

        .title {
          font-size: 24px;
          line-height: 30px;
        }

        .description {
          margin-top: 10px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }

  @media (max-width: 640px) {
    .banner-item {
      .banner-image {
        height: 400px;

        .crossRight {
          border-bottom-width: 400px;
        }
      }

      .banner-content {
        .title {
          min-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .description {
          min-height: 66px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          box-orient: vertical;
        }
      }
    }
  }
}


.btn-button-style {
  color: #FFF;
  font: 700 1rem/1.25 "TeleNeoWeb";
  gap: 0.5rem;
  align-items: center;
  background: #0000;
  display: inline-flex;
  justify-content: center;
  outline: none !important;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  border-radius: 62.4375rem;
  padding: 10px 24px;


  &:before {
    background-color: #000;
    border-radius: 62.4375rem;
    bottom: 62.4375rem;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 50ms;
    transition-property: top, right, bottom, left, background-color;
    transition-timing-function:
      cubic-bezier(.4, 0, .1, 1);
    z-index: -1;
  }

  &.magenta {
    &::part(base) {
      background-color: #e20074;
      color: #fff;

      &:hover {
        background-color: #c00063;
      }

    }
  }

  &.black {

    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #333;
    }
  }

  &.gray {

    background-color: #FFF;
    color: #000;

    &:hover {
      background-color: #f9cce3;
    }
  }
}