// Preview component styles
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../fonts.scss';


body {
  font-family: 'TeleNeoWeb', sans-serif !important;
  font-size: 18px;
}


.headline {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  color: #000;
}

.widget-title {
  .headline {
    &.heading1 {
      font-size: 54px;
      line-height: 65px;
    }

    &.heading3 {
      font-size: 32px;
      line-height: 40px;
    }

    &.heading5 {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.widget-banner {
  .banner-item {
    position: relative;




    .banner-image {
      width: 100%;
      height: 350px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
      }

      .bg-overlay {
        background-color: rgba(0, 0, 0, 0.48);
        height: 100%;
        width: calc(50% - 35px);
      }

      .crossLeft {
        border-bottom: 350px solid transparent;
        border-right: 70px solid rgba(0, 0, 0, 0.48);
        width: calc(50% - 35px);
      }

      .crossRight {
        border-bottom: 350px solid transparent;
        border-left: 70px solid rgba(0, 0, 0, 0.48);
        width: calc(50% - 35px);
      }
    }

    .banner-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      padding: 24px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 40px;
        line-height: 48px;
        font-weight: 800;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      .description {
        margin: 16px 0;
        font-size: 20px;
        line-height: 28px;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .banner-pagination {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 10px;

    .bullet {
      display: block;
      width: 80px;
      height: 4px;
      background-color: #0003;
      margin: 1px;
      cursor: pointer;

      &.active {
        &::after {
          background-color: #e20074;
          content: '';
          display: block;
          height: 100%;
          opacity: 1;
          transform: scaleX(0);
          transform-origin: left center;
          width: 100%;
          animation: progress 7s forwards;
        }
      }
    }
  }

  @keyframes progress {
    from {
      transform: scaleX(0);
    }

    to {
      transform: scaleX(1);
    }
  }
}