// Preview component styles
@import '../../fonts.scss';

:root {
  font-family: 'TeleNeoWeb', sans-serif;
}

body {
  font-family: 'TeleNeoWeb', sans-serif;
  font-size: 18px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.pt-8 {
  padding-top: 32px;
}

.headline {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  color: #000;
}

.widget-title {
  .headline {
    &.heading1 {
      font-size: 54px;
      line-height: 65px;
    }

    &.heading3 {
      font-size: 32px;
      line-height: 40px;
    }

    &.heading5 {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.widget-banner {
  .banner-item {
    position: relative;
  }
  .banner-image {
    width: 100%;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: #000;
    }
  }

  .banner-pagination {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 10px;

    .bullet {
      display: block;
      width: 80px;
      height: 4px;
      background-color: #0003;
      margin: 1px;
      cursor: pointer;

      &.active {
        &::after {
          background-color: #e20074;
          content: '';
          display: block;
          height: 100%;
          opacity: 1;
          transform: scaleX(0);
          transform-origin: left center;
          width: 100%;
          animation: progress 7s forwards;
        }
      }
    }
  }
  @keyframes progress {
    from {
      transform: scaleX(0);
    }

    to {
      transform: scaleX(1);
    }
  }
}
